name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - run: uvx --from build pyproject-build --sdist --wheel
      - run: uvx twine check dist/*
      - uses: actions/upload-artifact@v6
        with:
          path: dist/*
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - run: uv run mkdocs build --strict
  pytest:
    name: pytest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        django-version:
          - "5.2"
          - "6.0"
        exclude:
          - python-version: "3.10"
            django-version: "6.0"
          - python-version: "3.11"
            django-version: "6.0"
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - run: uv run --no-dev --group=test --with Django~=${{ matrix.django-version }}.0 pytest
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: python-${{ matrix.python-version }}-django-${{ matrix.django-version }}
  pytest-contrib:
    name: pytest
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
        options: --entrypoint redis-server
      redis-sentinel:
        image: bitnami/redis-sentinel:latest
        ports:
          - 26379:26379
        env:
          REDIS_MASTER_HOST: redis
          REDIS_MASTER_SET: mymaster
          REDIS_SENTINEL_QUORUM: 1
      rabbitmq:
        image: rabbitmq:3-management
        ports:
          - 5672:5672
          - 15672:15672
      kafka:
        image: apache/kafka
        ports:
          - 9092:9092
        env:
          KAFKA_NODE_ID: 0
          KAFKA_PROCESS_ROLES: controller,broker
          KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
          KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
          KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
          KAFKA_CONTROLLER_QUORUM_VOTERS: 0@localhost:9093
          KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
    env:
      REDIS_URL: redis://localhost:6379/0
      REDIS_SENTINEL_URL: redis-sentinel://localhost:26379/mymaster
      REDIS_SENTINEL_NODES: localhost:26379
      REDIS_SENTINEL_SERVICE_NAME: mymaster
      RABBITMQ_URL: amqp://guest:guest@localhost:5672//
      KAFKA_BOOTSTRAP_SERVERS: localhost:9092
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.13"
        django-version:
          - "5.2"
        extra:
          - "redis"
          - "celery"
          - "rabbitmq"
          - "kafka"
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - run: uv run --no-dev --group=test --extra=${{ matrix.extra }} --with Django~=${{ matrix.django-version }}.0 pytest
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: python-${{ matrix.python-version }}-django-${{ matrix.django-version }}-${{ matrix.extra }}
